.content__page{
    background-image: url('imagens/Patas(1).png'), url('imagens/Forma\ 1.png'), url('imagens/Forma\ 3.png');;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 170px, 350px, 90px;
    background-position: top right, left top, top 390px left;
    display: flex;
    flex-direction: column;
    height: 105vh;
}
.content__inc{
    display: flex;
    gap: 60px;
    padding: 50px 0 0 50px;
}
.content__presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 126px;
    margin-bottom: 260px;
}
.content__presentation__img{
    margin-bottom: 25px;
}
.content__head__logo__img{
    display: none;
}
.content__presentation__title__average{
    display: none;
}
.content__p{
    color: var(--blue-color);
    font-family: var(--font-family-poppins);
    font-size: 18px;
    margin-bottom: 10px;
    width: 345px;
    text-align: center;
    line-height: 1.2em;
}
.content__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}
.content__form__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form__p{
    color: var(--gray-color);
    font-size: 16px;
    font-family: var(--font-family-poppins);
}
.content__imput__general{
    border: 0;
    background-color: var(--light-gray-background);
    padding: 16px;
    border-radius: 6px;
    width: 300px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.123);
   
}
.password__eye{
    background: url('imagens/Vector.png');
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-color: var(--light-gray-background);
}
.content__imput__general::placeholder{
    text-align: center;
    color: #BCBCBC;
}
.content__form__p__password{
    color: var(--coral-color);
    font-size: 16px;
}
.content__imput__submit__div{
    margin-top: 10px;
}
.content__imput__submit___enter{
    border: 0;
    padding: 8px 48px;
    font-family: var(--font-family-poppins);
    background-color: var(--coral-color);
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    border-radius: 6px;
}
.content__footer{
    text-align: center;
    background-color: var(--green-color);
    margin-top: auto;
    padding: 41px;
}
.footer__end__p{
    color: #fff;
    font-family: var(--font-family-poppins);
}
@media screen and (min-width: 768px) {
    .content__page{
        background-image: url('imagens/Patasv2.png'), url('imagens/Forma\ 1v.png'), url('imagens/Forma\ v2.png');
        background-size: 230px, 560px, 130px;
        background-position: top right, left top, right top 280px;
    }
    .content__head__logo__img{
        display: block;
    }
    .content__presentation{
        background-image: none;
        margin-bottom: 434px;
        margin-top: 180px
    }
    .content__presentation__title__small{
        display: none;
    }
    .content__presentation__title__average{
        display: block;
    }
    .content__p{
        font-size: 18px;
        margin-bottom: 2px;
        width: 500px;
        line-height: 1.2em;
    }
    .form__p{
        font-size: 18px;
    }
    .content__presentation__img{
        padding-bottom: 40px;
    }
    .content__presentation__bnt__div{
        padding: 12px 102px;
        font-size: 18px;
    }
    .content__form__p__password{
        display: none;
    }
    .content__imput__submit___enter{
       padding: 8px 54px;
    }
}