

.content__page{
    background-image: url('imagens/Forma\ 1.png');
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: left top;
    height: 100vh;
}
.page{
    background-color: var(--blue-color);
}
.content__head{
    display: flex;
    padding: 50px 0 0 50px;
    gap: 60px;
}
.content__head__logo__img{
    display: none;
}
.content__presentation{
    background-image: url('imagens/Forma\ 2.png');
    background-repeat: no-repeat;
    background-position: right 60%;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__presentation__img{
    padding-bottom: 35px;
}
.content__presentation__title__average{
    display: none;
}
.content__presentation__h2{
    font-size: 1.8em;
    color: #fff;
    padding-bottom: 30px;
    font-family: var(--font-family-ibm-plex);
}
.content__presentation__p{
    color: #fff;
    width: 280px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: var(--font-family-poppins);
}
.content__presentation__p__average{
    display: none;
}
.content__presentation__bnt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 1.5em;
}
.content__presentation__bnt__div{
    display: block;
    background-color: var(--coral-color);
    padding: 1em;
    text-align: center;
    border-radius: 6px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.288);
}
.content__presentation__bnt__div:hover{
    background-color: #FF9D9E;
}
.content__presentation__bnt__a{
    text-decoration: none;
    color: #fff;
    font-family: var(--font-family-poppins);
    font-weight: 700;
}
.footer__img{
    display: block;
    margin: auto;
}
.footer__img__average{
    display: none;
}
.content__footer{
    margin-top: auto;
}

.footer__end__p{
    color: #fff;
    text-align: center;
    padding: 2.5em;
    background-color: var(--green-color);
    font-family: var(--font-family-poppins);
}
@media screen and (min-width: 768px) {
    .content__page{
        background-image: url('imagens/Forma\ 1v.png'), url('imagens/Forma\ v2.png');
        background-size: 560px, 130px;
        background-position: left top, right top 280px;
    }
    .content__head__logo__img{
        display: block;
    }
    .content__presentation{
        background-image: none;
    }
    .content__presentation__title__small{
        display: none;
    }
    .content__presentation__title__average{
        display: block;
    }
    .content__presentation{
        margin-top: 180px;
    }
    .content__presentation__img{
        padding-bottom: 40px;
    }
    .content__presentation__p{
        width: 374px;
    }
    .content__presentation__p{
        display: none;
    }
    .content__presentation__p__average{
        display: block;
        color: #fff;
        width: 374px;
        text-align: center;
        font-size: 1.2em;
        line-height: 1.5em;
        font-family: var(--font-family-poppins);
    }
    .content__presentation__bnt__div{
        padding: 12px 102px;
        font-size: 18px;
    }
    .footer__img{
        display: none;
    }
    .footer__img__average{
        display: block;
        margin: auto;
    }
}